/* You can add global styles to this file, and also import other style files */
label{
  margin-left:15% ;
}
input{
  margin-left: 60%;
  padding: 40px;
}
.form-group{
  padding: 10px;
}
td{
  padding: 10px;
}
.padd{
  background-color:green;
}
.blue{
  color:blue;
}
.rouge{
  color: red;
}
